@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --color-primary: theme("colors.neutral.900");
  --color-secondary: theme("colors.amber.500");
  --color-text: theme("colors.neutral.600");
  --color-text-offset: theme("colors.neutral.400");
  --color-background: theme("colors.neutral.50");
  --color-background-offset: theme("colors.neutral.100");
  --color-border: theme("colors.neutral.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.amber.400");
  --color-secondary: theme("colors.blue.500");
  --color-text: theme("colors.neutral.400");
  --color-text-offset: theme("colors.neutral.600");
  --color-background: theme("colors.neutral.900");
  --color-background-offset: theme("colors.neutral.800");
  --color-border: theme("colors.neutral.50" / 10%);
}

html {
  @apply h-full motion-safe:scroll-smooth;
}

body,
#__next {
  @apply font-serif h-full bg-default text-default text-base selection:bg-secondary selection:text-white;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  @apply font-display leading-relaxed tracking-widest;
}

h1 {
  @apply text-8xl text-primary leading-relaxed tracking-widest;
}

h2 {
  @apply text-6xl text-primary;
}

h3 {
  @apply text-4xl text-primary;
}

h4 {
  @apply text-2xl text-primary;
}

h5 {
  @apply text-xl text-primary;
}

h6 {
  @apply text-lg text-primary;
}

p {
  @apply text-base text-default;
}

a,
.link {
  @apply transition-all duration-300 font-serif text-primary hover:text-secondary hover:underline hover:underline-offset-4 group-hover:underline-offset-4 group-hover:underline group-hover:text-secondary;
}
